@tailwind base;
@tailwind components;
@tailwind utilities;

:where(a, button, input, select, textarea, summary):focus-visible {
  outline: 2px solid #111827;
  outline-offset: 2px;
}

:root {
  --color-primary: #0ea5ff;
}

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-white text-slate-800 antialiased;
}
